---
// Import TiltBox component and define Props
import TiltBox from "../components/TiltBox.astro";

interface Props {
    title: string;
    body: string;
    href?: string;
    tags: Array<string>;
    date: string;
    border?: string;
}

// Destructure the props
const { title, body, href, tags, date, border = "rgb(104, 104, 104)" } = Astro.props;
---

<TiltBox borderRadius="2em" width="300px" height="220px" divisor="20">
    <div class="card" style=`border: 4px solid ${border}`>
        <a href={href} target="_blank">
            <div class="card-content">
                <div class="text-content">
                    <h3 class="card-title">{title}</h3>
                </div>
                <div class="body-content">
                    <p>{body}</p>
                </div>
                <div class="date">
                    <p><strong>{ date }</strong></p>
                </div>
                <div class="tags-container">
                    <p><em>Location:</em> 
                        <span class="tags">
                            {tags.map(tag => (
                                <span class="tag">{tag}</span> // Wrap each tag in a span
                            ))}
                    </p>
                </div>
            </div>
        </a>
    </div>
</TiltBox>


<style>
    .card {
        border-radius: 2em;
        background-color: #0b111f;
        width: 300px;
        height: 220px;
        overflow: hidden;
    }

    .card a {
        text-decoration: none;
        color: inherit;
        display: block;
        height: 100%;
    }

    .card-content {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 16px;
    }

    .text-content {
        margin-bottom: 12px;
    }

    .body-content {
        flex-grow: 1;
        overflow: hidden;
    }

    .body-content p {
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        /* -webkit-line-clamp: 3; */
        -webkit-box-orient: vertical;
    }

    .tags-container {
        margin-top: auto;
    }

    .card-title {
        margin: 0;
        font-size: 0.7em;
        font-weight: bold;
    }

    .card p {
        margin-top: 0;
        font-size: 12px;
    }

    .tags {
        display: inline-flex;
        flex-wrap: wrap;
        gap: 5px;
        font-size: 14px;
    }

    .tag {
        background-color: rgb(139, 43, 43);
        padding: 2px 8px;
        border-radius: 12px;
        font-size: 0.8em;
        color: white;
    }

    .date {
        display: inline-flex;
        margin-bottom: 10px;
        white-space: pre-line;
    }

    .card p em {
        margin: 0;
    }
</style>

